<div class="container" >
  <nav>
    <!-- <button routerLink="/accueil">Accueil</button>
    <button routerLink="/produits">Liste des produits</button>
    <button routerLink="/ajouterProduit">Ajouter produit </button> -->
    <div>
        <ul>
          <li *ngFor="let action of actions">
            <button (click)="setActionCourante(action)" class="btn btn-success"
            [style.backgroundColor]="action == actionCourante ? 'yellow' : 'gress'"
            routerLink="{{action.route}}"
            >
            <i class=" {{action.icon}}"></i>   {{action.titre}}
          </button>
        </li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet> </router-outlet>
